*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: [header] 70px [content] 410px;
  width: 400px;
  height: 600px;
  border: solid 3px black;
  font-family: sans-serif;
  text-align: center;
}
